@import url("./matcha-ui.css");

html, body, #root {
    min-height: 100%;
    height: 100%;
}

.main--panel {
    height: 100%;
}

/* Navbar */
.navbar {
    font-size: 1.25rem;
    background-color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.5rem;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.25);
    display: grid;
    grid-template-areas: "toggle logo nav--secondary"
                         "nav--main nav--main nav--main";
    /* grid-template-columns: 3rem auto auto; */
    justify-content: space-between;
    align-items: center;
}

.nav--logo {
    grid-area: logo;
}

.nav--main {
    grid-area: nav--main;
}

.nav--secondary {
    grid-area: nav--secondary;
}

.nav--main li {
    text-align: center;
    margin: 1rem auto;
}

.nav--secondary li {
    text-align: center;
    margin: 0.6rem 0.5rem;
}

.nav--logo {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 1.25rem;
}

.nav--links:focus {
    outline: none;
}

.nav--links:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.nav--links, .nav--logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.navbar--toggle {
    border: none;
    background: transparent;
    margin-left: 1rem;
    margin-top: 0.5rem;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 1.5rem;
    grid-area: toggle;
}

.nav--main {
    list-style-type: none;
    display: none;
}

.nav--main.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav--search {
    border-radius: 0.3rem;
    font-size: 1rem;
    border: 0px;
    height: 1.1rem;
    align-self: center;
    margin-right: 1rem;
    padding: 0.25rem
}


@media screen and (min-width: 768px) {


    .navbar {
        display: grid;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        grid-template-columns: 10rem auto min-content;
        justify-content: initial;
        grid-template-areas: "logo nav--main nav--secondary";
    }

    .nav--main {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 2rem;
        gap: 1rem;
    }
    .nav--main li {
        margin: 0;
    }

    .nav--logo {
        margin-top: 0;
    }

   .navbar--toggle {
       display: none;
    }

    .nav--logo:hover,
    .nav--links:hover {
        color: rgba(255, 255, 255, 1);
    }
}
/* End Navbar */

.container {
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

.App {
    text-align: center;
    height: 100%;
}

.App-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


*:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 1px var(--primary-color-dark);
}

.nav--primary {
    align-items: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 1rem
}

.button:disabled {
    background-color: grey;
}